button{
    padding: 10px 30px;
    border: 1px solid black;
    align-items: center;
    text-align: center;
    cursor: pointer;
    font-size: 26px;
    display: block;
    margin-top: 10px;
    border-radius: 5px;
    background-color: gray;
}
.hover{
    background-color: skyblue;
}
.mouseout{
    background-color: pink;
}