input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
*{
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    overflow: hidden;
}
body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(67, 67, 67);
}
.container{
    max-width: 500px;
    text-align: center;
    padding: 30px;
    background-color: rgb(167, 167, 167);
    border-radius: 10px;
    transition: .5s;
}
.container:hover{
    transition: .5s;
    transform: scale(1.05);
}
input{
    max-width: 80%;
    font-size: 5rem;
    text-align: right;
    border: none;
}
button{
    width: 80px;
    height: 80px;
    border-radius: 40px;
    margin: 10px;
    font-size: 3rem;
    border: none;
    cursor: pointer;
}
button:hover{
    background-color: rgb(221, 221, 221);
}
button:active{
    background-color: rgb(237, 236, 236);
}
.res{
    background-color: rgb(94, 94, 94);
    transition: .5s;
}
.res:hover{
    background-color: rgb(154, 154, 154);
    transition: .5s;
}