*{
    margin: 0;
    padding: 0;
    background-color: 	#003663;
    font-family: "Montserrat", sans-serif;
}
.but{
    text-align: center;
    margin-top: 15%;
}
button{
    padding: 10px 20px;
    font-size: 26px;
    background-color: #dddddd;
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
}