body{
    margin: 0;
    display: flex;
    justify-content: center;
    font-family: "Special Elite", system-ui;
    height: 100vh;
    align-items: center;
    background-color: gray;
    font-size: 2rem;
}